* {
    box-sizing: border-box;
}
div{
    padding: 5px;
    display: flex;
}

.container{
    width: 100%;
    max-width: 800px;
    min-height: 600px;
    margin: 0 auto;
    background: red;
    flex-wrap: wrap;
}
.parent{
    width: 100%;
    background: blue;
    margin-bottom: 5px;
    justify-content: flex-end;
}
.parent_1 {
    width: 100%;
    background: blue;
    justify-content: space-between;
}
.child{
    width: 50%;
    height: 100%;
    background: green;
    justify-content: flex-end;
}
.child_1 {
    width: 50%;
    height: 100%;
    background: green;
    justify-content: flex-end;
    align-items: flex-end;
}
.col{
    background: yellow;
    width: 100px;
    height: 100px;
}
.col_1{
    width: 100px;
    height: 100px;
    background: yellow;
}
